doctype
html
    head
        title=title
        link(href='css/style.css' link rel="stylesheet")
        link(href='css/basket.css' link rel="stylesheet")
    body
        header
            nav
                ul
                h1(class='name') Shop
                    each item in config.menu
                        a(href=item[1] class=menu target=item[2])
                            div(class='menu_item')
                                li=item[0]
    section
            block content